<body style="background-color:lightgreen">
<h1>FUNDAMENTALS OF WEB SECURITY/ RUBY ON RAILS APPLICATION CS640_85135 </h1>
</br
></br>
<p>SHRIKAR</p>

<p>85135</p>
</br></br></br></br>

<p>OSI Model(seven layer model),VLANs,Routers and Switches Configuration</p>

<p>Switches, Firewalls, VPNs and Cryptography</p>
</br>
</body>